*.iml
*.iws
*.ipr
*~
*.gem
.DS_Store
.idea
pkg
rdoc
spec/rails/application/config
spec/rails/application/log
spec/rails/application/tmp
spec/rails/application/vendor/rails
spec/rails/dependencies/rails
